.headers {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  opacity: 0.98;
  box-shadow: 0px 8.65278px 58.8389px rgba(0, 0, 0, 0.05);
}
.navicons {
  padding: 10px;
}
.navicons img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 173.06px;
  padding: 20px;
}

.navs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 300px;
  gap: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navs a {
  color: #000000;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.navs .button {
  /* Frame 2 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  width: 150px;
  height: 45px;
  background: #000000;
}
